@use "../../App.scss" as global-style;

.video-details {
    @include global-style.desktop {
        width: 65%;
    }

    &__video {
        width: 100vw;
        height: 57vw;
        min-width: global-style.$min-width;
        max-width: global-style.$max-width;
        background-color: global-style.$brainflix-dark-black;

        @include global-style.tablet {
            height: 52vw;
        }

        @include global-style.desktop {
            height: 30rem;
            max-width: global-style.$max-width;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin: 1rem 0;
        padding: 0 global-style.$mobile-gap;
        min-width: global-style.$min-width;
        max-width: global-style.$max-width;

        @include global-style.tablet {
            font-size: 2rem;
            padding: 0 global-style.$tablet-gap;
        }

        @include global-style.desktop {
            padding: 0.5rem global-style.$desktop-gap 0;
            margin-bottom: 0;
        }
    }

    &__info {
        padding: 0 global-style.$mobile-gap;
        display: flex;
        justify-content: left;
        gap: 35%;
        min-width: global-style.$min-width;
        max-width: global-style.$max-width;

        @include global-style.tablet {
            padding: 0 global-style.$tablet-gap;
            justify-content: space-between;
        }

        @include global-style.desktop {
            padding-left: global-style.$desktop-gap;
            padding-right: 1rem;
        }        
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        margin: 1rem 0;

        @include global-style.tablet {
            display: flex;
            flex-direction: row;
        }

        @include global-style.desktop {
            margin-bottom: 0.5rem;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        @include global-style.tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__channel {
        font-size: 0.85rem;
        font-weight: 400;
        color: global-style.$brainflix-black;

        @include global-style.tablet {
            font-weight: 700;
        }
    }

    &__time {
        font-size: 0.85rem;
        font-weight: 400;
        color: global-style.$silver;
    }

    &__views {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        color: global-style.$silver;
        font-size: 0.85rem;
        align-items: center;
    }

    &__likes {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        color: global-style.$silver;
        font-size: 1rem;
        align-items: center;
    }

    &__views-text {
        font-size: 0.85rem;
    }

    &__likes-text {
        font-size: 0.85rem;
    }

    &__description {
        padding: global-style.$mobile-gap global-style.$mobile-gap 0;
        font-size: 0.8rem;
        line-height: 1.15rem;
        color: global-style.$brainflix-black;
        min-width: global-style.$min-width;
        max-width: global-style.$max-width;

        @include global-style.tablet {
            padding: 1.5rem global-style.$tablet-gap;
            font-size: 0.9rem;
            line-height: 1.45rem;
        }

        @include global-style.desktop {
            font-size: 0.9rem;
            line-height: 1.45rem;
            padding-left: global-style.$desktop-gap;
            padding-right: 1rem;
        }
    }

    &__input {
        padding: global-style.$mobile-gap global-style.$mobile-gap 0;

        @include global-style.tablet {
            padding: global-style.$tablet-gap global-style.$tablet-gap 1.5rem;
        }

        @include global-style.desktop {
            padding-left: global-style.$desktop-gap;
            padding-right: 1rem;
        }        
    }

    &__heading {
        font-size: 0.75rem;
        margin-bottom: 1rem;
        color: global-style.$brainflix-black;

        @include global-style.tablet {
            font-size: 0.9rem;
        }
    }

    &__form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: global-style.$mobile-gap;

        @include global-style.tablet {
            gap: 1.25rem;
        }
    }

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 20% 100%;
        margin-top: 1.5rem;

        @include global-style.tablet {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__text-block {
        @include global-style.tablet {
            display: flex;
            flex-direction: row;
            width: calc(100% - 3rem);
            gap: 1.5rem;
        }
    }

    &__input-block {
        @include global-style.tablet {
            width: calc(100% - 11.25rem);
        }
    }

    &__text {
        width: 100%;
        border: 1px solid global-style.$brainflix-mercury;
        box-sizing: border-box;
        background-color: global-style.$brainflix-Alabaster;
        margin-top: 0.25rem;
        height: 6rem;

        @include global-style.tablet {
            width: 100%;
            height: 2.5rem;
        }
    }

    &__text::placeholder {
        color: global-style.$brainflix-black;
        padding: 0.5rem;
    }

    &__label {
        font-size: 0.75rem;
        font-weight: 400;
        color: global-style.$silver;
    }

    &__button {
        height: 2.5rem;
        width: 14.7rem;
        background-image: url("../../assets/images/Icons/add_comment.svg");
        background-position: 0.5rem center;
        background-repeat: no-repeat;
        background-color: global-style.$brainflix-blue;
        background-size: 7.5%;
        border: none;
        border-radius: 4px;
        font-family: "Avenir", sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        color: global-style.$whilte;
        margin: 0.75rem 0 1rem;

        @include global-style.tablet {
            width: 10rem;
            background-size: 12.5%;
            margin-bottom: 0.25rem;
            align-self: flex-end;
        }

        @include global-style.desktop {
            width: 9rem;
        }
    }

    &__divider {
        height: 1px;
        width: calc(100% - 2rem);
        border-top: 1px solid global-style.$brainflix-mercury;
        margin: 0 global-style.$mobile-gap;
        min-width: global-style.$min-width;

        @include global-style.tablet {
            width: calc(100% - 4rem);
            margin: 0 global-style.$tablet-gap;
        }
        @include global-style.desktop {
            width: calc(100% - 9rem);
            margin: 0 global-style.$desktop-gap;
        }
    }

    &__divider-tablet {
        height: 1px;
        width: calc(100% - 2rem);
        border-top: 1px solid global-style.$brainflix-mercury;
        margin: 0 global-style.$mobile-gap;
        min-width: global-style.$min-width;

        @include global-style.tablet {
            display: none;
        }
    }
}